fastapi
uvicorn
python-multipart
pydantic
boto3
pandas
psycopg2-binary
PyPDF2
python-docx
openpyxl
PyJWT
passlib
python-dotenv
requests
anthropic
pdfminer.six
bcrypt==3.2.0
scipy
stripe
aiofiles
openai
voyageai
pydantic[email]
pdfplumber
websockets
redis
httpx
openai
twilio